@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
.img-carousel{  
    -webkit-background-size: cover;
    background-size: cover;
    height: 670px;
    background-position: center;
    background-attachment: fixed;
}
.img-carousel h1{  
  font-family: 'Playfair Display', serif;
}

.shadow-part{
  background: rgba(0, 0, 0, 0.5);    
    padding: 88px 100px;    
    height: 670px;
 
}